*.bin
*.echse
*.elf
*.a
*.o
*.ld
*.dtb

include/generated/
arch/riscv/asm_defines.S
arch/riscv/include/asm/asm_defines.h

res/u-boot/u-boot-*

user/initrd.cpio

.gdbinit
.gdb_history

user/dts/*.dts
qemu.dts

tools/dump_layout
