*.bin
*.elf
*.a
*.o
*.ld
*.dtb
*.gcda
*.gcno

include/generated/
common/include/generated/
arch/riscv/asm_defines.S
arch/riscv/include/asm/asm_defines.h
kernel/syscall_table.c

res/u-boot/u-boot-*

user/initrd.cpio

.gdbinit
.gdb_history

user/apps/build/
user/dts/*.dts
qemu.dts

tools/dump_layout
tools/gcov_extract
